<%= form_with(model: [ @game, @game.comments.build ], local: true) do |form| %>
      <p>
        <%= form.label :Komentarz %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
<% end %>
