<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3 text-center ">
        <a href='/'>
        <h1 style="margin-top: 10px; font-size:44px;">  G  </h1>
        </a>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title" style="margin-top:6px;">
          <%= link_to 'My Games', games_path %>
        </button>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title" style="margin-top:6px;">
          <%= link_to 'My music', musics_path %>
        </button>
      </div>

      <div class="col-md-2 text-center">
        <button class="low-title" style="margin-top:6px;">
          <%= link_to 'My movies', movies_path %>
        </button>
      </div>

      <div class="col-md-3 text-center">
        <button class="low-title" style="margin-top:6px;">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </button>
      </div>

    </div>

  </div>

</nav>
