<body>


  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h1>GaMeS-ReV</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <p class="low-title">Platorm for multimedia reviews</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <button class="low-title">
          <%= link_to 'Games', home_games_path %>
        </button>
      </div>

      <div class="col-md-4 text-center">
        <button class="low-title">
          <%= link_to 'Music', home_musics_path %>
        </button>
      </div>

      <div class="col-md-4 text-center">
        <button class="low-title">
          <%= link_to 'Movies', home_movies_path %>
        </button>
      </div>

    </div>

  </div>
</body>
