html, body {
    min-height: 100%;
}

body{
  background-image: url(gamebg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}



h1{
  font-size: 55px;
  color: rgb(194, 50, 18);
  font-weight: bold;
}

.low-title{
  font-size: 35px;
  font-weight: bold;
  color: rgb(139, 14, 33);
}

.margin-top-50px{
  margin-top: 50px;
}
